<!DOCTYPE html>
<html>
    <body style="background-color: darkgrey">
        
        <p><img width=233px height=200px alt="moonful logo" src="/static/test.png"></p>
        <form action="http://localhost:5000/stock" method="POST">
            <input type="text" id="stock_name" name="stock" align="right">
            <select id="period_list" name = "period">
                <option value="1d">1 day</option>
                <option value="7d">7 days</option>
                <option value="14d">14 days</option>
                <option value="1m">1 month</option>
                <option value="6m">6 months</option>
                <option value="ytd">YTD</option>
                <option value="1y">5 years</option>
                <option value="5y">MAX</option>
            </select>
            <input type="submit" value="🔍">
        </form>
    </body>
</html>
