<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/emblem.gif" rel="icon" type="image/gif">
    <link rel="stylesheet" href="/stock_app/static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Moonful</title>

</head>
<body>
    <div>
        <header>
            <h1 class="header-logo">
                Moonful
            </h1>
        </header>
    </div>

</body>
</html>