<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title + " Stock"}}</title>
    <link href = "static/emblem.gif" rel="icon" type="image/gif">
  </head>


  <body>
      <table border="1" margin="1" width="100%">
        <tr>
          <td rowspan=2>
              {% if market_status == 'Close' %}
                <h1>🌚</h1>
              {% else %}
                <h1>🌞</h1>
              {% endif %}
          </td>
          <td rowspan=2>
              {% if difference < 0 %}
                <h1 style="color:red">{{current}}</h1>
              {% else %}
                <h1 style="color:green">{{current}}</h1>
              {% endif %}
          </td>
          <td rowspan=2>
              {% if difference < 0 %}
                <h1> 🔽</h1>
              {% else %}
                <h1> 🔼</h1>
              {% endif %}
          </td>
          <td rowspan=2>
              {% if difference < 0 %}
                <h1 style="color:red">{{difference}}</h1>
              {% else %}
                <h1 style="color:green">{{difference}}</h1>
              {% endif %}
          </td>
          <td rowspan=2>
              {% if difference < 0 %}
                <h1 style="color:red">{{percentage}}%</h1>
              {% else %}
                <h1 style="color:green">{{percentage}}%</h1>
              {% endif %}
          </td>
          <td>
              <h1>{{ title }}</h1>
          </td>
        </tr>
        <tr>
          <td >
              <h1>{{ stock_full_name }}</h1>
          </td>
        </tr>
        <tr>
            <td rowspan=2 colspan=5> 
              <p> </p>
            </td>
            <td> 
              <p> </p>
            </td>
        </tr>
        <tr>
            <td> 
              <p> </p>
            </td>

        </tr>

      </table>
  </body>
</html>